/* :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    /* display: flex; */
    place-items: center;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
    filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: #242424;
    border-bottom: 1px solid sandybrown;
}

/* navigation */

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}



.logo a{
    font-size: xx-large;
    font-weight: bolder;
    text-decoration: none;
    color: rgba(239, 129, 35);
}

.logo a:hover{
    filter: drop-shadow(0 0 2em #646cffaa);
}


.nav-menu{
    display: flex;
    gap: 40px;
}
.nav-menu a{
    font-weight: 500;
    color: rgba(239, 239, 238);
    text-decoration: none;
}

.nav-menu a:hover {
    color: rgba(239, 129, 35)
}

.nav-btn{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color:rgba(239, 129, 35);
    color: rgba(239, 239, 238);
}

/* =================== HERO SECTION ============================== */
.hero-content {
    display: flex;
    gap: 30px;
}
.hero-text {
    font-size: 3.2em;
    line-height: 1.1;
}

.hero-title-highlight {
    color: linear-gradient(to right, rgba(239, 125, 37), rgba(233, 91, 43) );
}

.hero-description {
    font-size: 25px;
}

.btn_hero {
    padding: 10px 20px 10px 20px;
    color: rgba(239, 125, 37);
    border-image: linear-gradient(to right, rgba(239, 125, 37), rgba(233, 91, 43) );
    border-radius: 5px;
}

.btn_hero:hover {
    background-image: linear-gradient(to right, rgba(239, 125, 37), rgba(233, 91, 43) );
    color: #ffffff;
}

/* =================== HERO SECTION  END ============================== */



/* STEPS SECTION */

.steps-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* margin-top: 100px;
    margin-bottom: 100px; */
    margin: 100px;
}

.section-header-center {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.steps-container .section-label {
    color: orange;
}

.steps-container .section-header-center span {
    font-size: 1.4rem;
}

.steps-container .section-header-center h2 {
    font-size: 2.8rem;
    margin-bottom: 40px;
}

/* .steps-container .section-header-center {
    margin-bottom: 10px;
} */

.steps-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.step-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 320px;
    background-color: #242424;
    opacity: 0.6;
    border-radius: 5px;
}

.step-card h3 {
    font-size: 1.3rem;
    color: white;
    margin: 10px 0px;
}

.step-card p {
    color: white;
    font-size: 0.7rem;
    line-height: 17px;
}

.step-card .step-icon {
    background-color: #616161;
    padding: 5px;
    /* border: 1px solid lightgray; */
    width: 80px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}



/* BEGIN: John Dakshak */
/* WALLETS SECTION */

.wallets-section {
    padding: 0px 6vw;
}

.wallets-section .container {
    margin: 40px 40px;
}

.wallets-section .section-header div {
    display: flex;
    align-items: center;
    gap: 3px;
    color: #ec7a08;
    font-family: Arial, Helvetica, sans-serif;
}

.wallets-section .section-header h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

.wallets-section .wallets-grid {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    gap: 30px;
}

.wallets-grid .wallet-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111112;
    border-radius: 5px;
    padding: 0px 20px;
    padding-bottom: 20px;
    border: 1px solid transparent;
}

.wallets-grid .wallet-card:hover {
    cursor: pointer;
    border:1px solid #351d04;
    background-color: #0c0600;
} 

.wallets-grid .wallet-card p {
    font-family: Arial, Helvetica, sans-serif;
    color: #e5e5e9;
    font-weight: 600;
}

.wallets-grid .wallet-icon {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wallets-grid .wallet-icon img {
    max-width: 100%;
    max-height: 100%;
}

.wallets-grid .wallet-icon-trust img {
    width: 50px;
}

.wallets-grid .wallet-icon-enjin img {
    width: 50px;
}

.wallets-grid .wallet-icon-binance img {
    width: 50px;
}

.wallets-grid .wallet-icon-coinbase img {
    width: 50px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* END - John Dakshak */

